body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0px;
    line-height: 30px;
    scroll-behavior: smooth;
    background-image: url(../Assets/blob.svg);
    background-repeat: repeat-y;
    background-size: 100%;
}