* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.homenavbar header {
  background: #f16a2d;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: 1px 1px 1px 1px rgb(183, 182, 182);
}

.homenavbar .logo {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}

.homenavbar nav ul {
  display: flex;
}

.homenavbar nav ul li a {
  display: inline-block;
  color: #fff;
  padding: 5px 0;
  margin: 0 10px;
  border: 3px solid transparent; /* Default border color */
  text-transform: uppercase;
  transition: 0.2s;
}

.homenavbar nav ul li a:hover {
  text-decoration: underline;
  /* border-bottom-color: rgb(255, 255, 255); */
  transform: scale(1.3);
}
.homenavbar nav ul li a.clicked {
  border-bottom: 3px solid #060c7d;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: #000;
}

@media only screen and (max-width: 530px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 530px) {
  .hamburger {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 70px;
    width: 100%;
    background: #ffffff;
    padding: 30px;
    transition: 0.3s;
  }
  header #nav_check:checked ~ nav {
    left: 0;
  }
  header nav ul {
    display: block;
  }
  header nav ul li a {
    margin: 5px 0;
  }
}
