/* Style for the container */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.select-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 320px;
  background-color: #2a3441;
  /* background-image: linear-gradient( 180deg, #100f0e, #0d1341 ); */
  font-size: 19px;
  height: 100%;
  /* border-radius: 25px; */
  position: fixed;
}

/* Style for the search container */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50px;
}

/* Styles for the search box */
.search-box {
  width: 200px;
  border-radius: 50px;
  padding: 8px;
  border: 2px solid #f16a2d;
  border-radius: 20px;
  outline: none;
  transition: all 0.3s ease;
}

/* Styles for when the search box is focused */
.search-box:focus {
  border-color: white;
  box-shadow: 0 0 7px #ff904b;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 25px;
}

button {
  padding: 10px 15px;
  background-color: #ff904b;
  color: #fff;
  border: none;
  border-radius: 25px;
  margin-left: 10px;
  cursor: pointer;
}

#request-button :hover{
  text-decoration: underline;
  background-color: #d26900;
}

button:hover {
  text-decoration: underline;
  background-color: #2a3441;
}

#search-button :hover{
  text-decoration: none;
  background-color: none;
}



/* Style for labels and select elements */
label {
  font-weight: bold;
  margin-top: 21px;
}

select {
  width: 200px;
  padding: 10px;
  border: 2px;
  border-right: 15px solid #fff;
  border-radius: 25px;
}

/* Style for option elements in the select */
select option {
  padding: 10px;
}
label {
  color: white;
  padding-bottom: 2px;
}
