.popup {
  position: absolute;
  height: fit-content;
  width: 44%;
  background: #ffffff;
  margin-top: 3%;
  margin-bottom: 3%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
  visibility: hidden;
  transition: transform 0.5s, top 0.5s;
  justify-content: center;
}
.open-popup-request {
  position: fixed;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 101;
}
.popup h4 {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 2%;
}
.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.overlay-active {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}
.popup .close-btn,
.cancelR-btn {
  position: absolute;
  right: 1%;
  font-size: 16px;
  color: var(--red);
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 6px;
  color: #000;
  border: none;
  background: var(--red);
}
