body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}
.profile-container2 {
  background-color: #ffffff;
  width: 800px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 150px;
  border-radius: 20px;
}
.main-container2 :hover {
  box-shadow: 0 3px 9px 2px rgba(64, 60, 67, 0.24);
  border-color: rgba(223, 225, 229, 0);
  transform: scale(1.02);
}

.profile-container2 :hover {
  box-shadow: none;
  border: none;
  transform: none;
}

.picture .image {
  max-width: 80px;
}

.profile-name {
  font-size: 17px;
  font-weight: 700;
  color: #000;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}
.profile-type {
  font-size: 15px;
  font-weight: 300;
  color: #000;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}
.profile-ratings {
  font-size: 16px;
  color: #666;
}
.job-count {
  font-size: 16px;
  color: #666;
}
.location {
  float: right;
  font-size: 16px; /* Adjust the font size to make it readable */
  color: black;
  margin-top: -100px;
}
.view-profile-button {
  margin-top: -40px;
  float: right;
  background-color: #ff7f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
}
.index {
  margin-top: -90px;
  margin-left: 150px;
}
.homenavbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.main-container2 {
  margin-top: 20px;
  margin-left: 30%;
}
.set-margin {
  margin-top: 92px;
}
